# Copyright (c) 2020, Miovision.
# Miovision Technologies Inc.
#
# SPDX-License-Identifier: GPL-2.0

if TARGET_ROYALOAK_SMARTSENSE

config SYS_BOARD
	default "royaloak-smartsense"

config SYS_VENDOR
	default "miovision"

config SYS_CONFIG_NAME
	default "royaloak-smartsense"

endif
