# Copyright (c) 2020, Miovision.
#
# SPDX-License-Identifier: GPL-2.0

if TARGET_SMARTSENSE

config SYS_BOARD
	default "smartsense"

config SYS_VENDOR
	default "miovision"

config SYS_CONFIG_NAME
	default "smartsense"

endif
